body{
    width: 100vw;
    height: 100vh;
    background-image: url('./Images/Image\ 11-06-23\ at\ 4.34\ PM.jpg');
    background-repeat:repeat-y;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
 }
 .Main-Page{
    overflow-x: hidden;
    
 }
 /* Nav-Bar */
 .navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 2rem 0;
    transform: translate(20%);
}
.navbar ul{
    display:flex;
    width:40%;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 2rem;
}
.user-name{
    color:#fdfdfd;
}
.navbar a, .navbar li{
    text-decoration: none;
    color:#FB94DC;
    font-weight: 500;
    transition: all 0.1s linear 0s;
}
.navbar a:hover{
    color:#9768d9;
}
.logout-button{
    color: white;
    background-color: #ca46a2;
    padding:5px;
    border:none;
    outline:none;
    border-radius:5px;
    margin-left: 0%;
    cursor:pointer;
    box-sizing: border-box;
}
.user{
    display: flex;
    width:30%;
    gap:10px;
    align-items: baseline;
    flex-wrap: wrap;
}
@media screen and (max-width:1200px) {
    .navbar ul li:nth-child(odd){
        display: none;
       } 
    .navbar ul li:nth-child(even){
        font-size: large;
        
       }
}
.Home{
    width:100%;
    height: 70vh;
    background-image:url('./Images/ArtGallery.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
   
}
.Welcome-message{
    width:100%;
    height:100%;
    display:flex;
    justify-content:left;
    align-items: center;
}


.Content{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:20px;
}
.Content .Heading{
    color:#9768D9;
    padding-left:7%;
    font-size:4rem;
    font-weight: bolder;
    letter-spacing: 0.7px;
}

.Content p {
   margin-left:7%;
   color:aliceblue;
   font-size:1.3rem;
   letter-spacing: 0.5px;
   padding-right:0%;
}

/* Gallery OverView-Home Page */

.Gallery-Overview{
    position: relative;
    width:70%;
    height: fit-content;
    display:block;
    margin-top: 3%;
    padding:2rem 5rem 2rem 2rem ;
    box-sizing: border-box;
    border:1px solid #413e3e;
    border-radius:5px;
    transform: translateX(20%);
}
.Blur-Box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(42, 18, 75, 0.5);
    filter:blur(15px); 
    z-index: -1;
}
.OverView-Box {
    top:0;
    left:0;
    z-index: 2;
}
.OverView-Content{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    align-items: baseline;
    justify-content: space-around;
    gap:1%;
    margin-top:0.5rem;
    padding:2px;
    transform: translate(6%);
}
.OverView-Content img{
    width:200px;
    height: 220px;
    margin-top:1.2rem;
    border-radius:6px;
}
.OverView-Headings{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:30px;
}
.OverView-Headings> h1{
    color:#d5c2ef;
    font-size: 2.5rem;
    letter-spacing: 0.2px;
}
.OverView-Headings >p{
    color:#e3daef;
    word-wrap: break-word;
    font-size:1.2rem;
}
.Contemporary-Main_Page,.Sculputures-Main_Page,.Mixed_Art-Main_Page{
    display:flex;
    flex-direction: column;
    gap:1rem;
    min-width:80%;
    align-items: flex-start;
    justify-content: center;
}
.Contemporary-Main_Page>p,.Sculputures-Main_Page>p,.Mixed_Art-Main_Page>p {
    color:#fff;
    margin-top:3px;
    font-size:1.2rem;
    word-wrap: break-word;
}
.Contemporary-Main_Page>a,.Sculputures-Main_Page>a,.Mixed_Art-Main_Page>a{
    color:#d5c2ef;
    text-decoration:none;
    font-size: 1.7rem;
    font-weight: bold;
}
/* Upcoming Events */
.Events{
    width:100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-left: -1%;
    background-color: rgba(26, 26, 54, 0.5);
    backdrop-filter: blur(15px);
}
.Event-Box{
    height: 100%;
    width:100%;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid #413e3e;
}
.Event-Message-Box{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}
.Event-Box-Headings{
    align-self: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.Event-Box-Headings > h1{
    color:var(--purple);
}
.Event-Box-Headings p {
    color:#d5c2ef;
}
.Event-Box-Content{
    display: flex;
    align-self: center;
    gap:20px;
    flex-wrap: wrap;
}
.Events-Elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width:400px;
    min-width: 200px;
}
.Events-Elements>h2{
    color:#FB94DC;
    align-self:flex-start;
}
.Events-Elements > p{
    color:#e3daef;
    justify-self: baseline;
    align-self: baseline;
}
.Events-Elements > a{
    color:#FB94DC;
    align-self: flex-start;
}

/* Visit Us */

.Visit-Box{
    width:70%;
    padding:2rem;
}
.Visit-Content-Box{
    width:100%;
    border :2px solid #413e3e;
    transform: translateX(20%);
    border-radius:15px;
    background-color: rgba(12, 12, 30, 0.5);
    backdrop-filter: blur(15px);
}
.Visit{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:50px;
    padding:2rem;
}
.Visit-Headings{
    display: flex;
    flex-direction:column;
    gap:10px;
}
.Visit-Headings > h1{
    color:var(--pink);
    font-size:2.5rem;
}
.Visit-Headings > p{
    color:#e3daef;
    font-size:1.21rem;
}
.Visit-Content{
    align-self: flex-start;
    width:100%;
}
.Visit-Content > table{
    width:60%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: baseline;
}
.Visit-Content > table > tr{
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 40%;
    justify-content: space-between;
}
.Visit-Content > table > tr > th{
    color:var(--purple);
    font-size: 20px;
}
.Visit-Content > table > tr> td{
    color:#e3daef;
    font-size: 20px;
    justify-self: unset;
}

/* Contact */

.Contact-Home{
    width:100%;
    padding:2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
}
.Contact-Headings{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.Contact-Headings > h1{
    color:var(--pink);
    font-size: 2rem;
}
.Contact-Headings > p{
    color:#e3daef;
    font-weight: 400;
    font-size: 1.7rem;
}
.Content-Summary{
    display:flex;
    flex-wrap: wrap;
    gap:50px;
    row-gap: 30px;
}
.Content-Summary > .Phone,
.Content-Summary >.email,
.Content-Summary >.Address{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.Content-Summary > .Phone > h2,
.Content-Summary >.email > h2,
.Content-Summary >.Address > h2{
    color:var(--purple);
    font-weight: 700;
}
.Content-Summary > .Phone > h3,
.Content-Summary >.email > h3,
.Content-Summary >.Address > h3{
    color:#d5c2ef;
    font-weight: 500;
}
footer{
    background-color: rgba(26, 26, 54, 0.5);
    backdrop-filter: blur(15px);
    border:2px solid #413e3e;
}
@media screen and (max-width:667px) {
    .Content .Heading{
        font-size: 2rem;
        font-weight: 900;
    }
    .Content .Heading-description{
        font-size:1rem;
    }
    .OverView-Headings> h1{
        font-size: 2rem;
    }
    .OverView-Headings > p{
        font-size: 1rem;
    }
    .Contemporary-Main_Page>p,.Sculputures-Main_Page>p,.Mixed_Art-Main_Page>p {
     font-size: 1rem;
    }
    .Contemporary-Main_Page>a,.Sculputures-Main_Page>a,.Mixed_Art-Main_Page>a{
     font-size: 1.5rem;
    }
    .Events-Elements{
        width:100%;
    }
    .Visit-Box{
        width:100%;
    }
    .Visit-Content > table > tr > th {
        font-size: 1rem;
    }
    .Visit-Content > table > tr > td{
        font-size: 1rem;
    }
    .Visit-Headings > p{
        font-size: 1rem;
    }
    .Visit-Headings > h1{
        font-size: 2rem;
    }
    .Visit-Content-Box{
        transform: translate(4%);
    }
    .Contact-Headings > h1{
        font-size: 2rem;
    }
    .Contact-Headings > p  {
        font-size: 1.1rem;
    }
    
.Content-Summary > .Phone > h2, .Content-Summary >.email > h2, .Content-Summary >.Address > h2{
    font-size: 1.4rem;
}

.Content-Summary > .Phone > h3, .Content-Summary >.email > h3, .Content-Summary >.Address > h3{
    font-size: 1.1rem;
}
}

/* Gallery-OverView Pages */

.Mixed_Art,.Sculptures,.Contemporary{
    width:auto;
    margin:3%;
    padding:3%;
    border:1px solid #413e3e;
    background-color: rgba(12, 12, 30, 0.5);
    backdrop-filter: blur(15px);
}

.Mixed_Art>h2,.Sculptures>h2,.Contemporary> h2{
    color:#e3daef;
    font-size: 2.5rem;
    margin-top:1.5rem;
    margin-left:2%;
    
}

.Mixed_Art-item-Box,.Sculptures-item-Box,.Contemporary-item-Box{
    margin-top:50px;
    margin-right: 5%;
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: space-around;
    
}
.Mixed_Art-element>img,.Sculptures-element>img,.Contemporary-elements> img{
    width:100%;
    height:auto;
    border-radius:5px;
}
.Mixed_Art-element,.Sculptures-element,.Contemporary-elements{
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border: 1px solid #7f7c7c;
    border-radius: 5px;
    align-items: center;
    padding: 1rem;
    gap: 0.7rem;
}
.Name{
    color: #9768D9;
    font-size: 2rem;
    margin-top:2px;
}
.Creater{
    color:#d5c2ef;
    font-size: 1.2rem;
}
.price{
    color:#FB94DC
}
.Description{
    color:#e3daef;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
}

.purchase-button{
    width:150px;
    height: 50px;
    padding:2px;
    color:white;
    font-size:1.1rem;
    background-color: #9768d9;
    border-radius: 6px;
    cursor:pointer;
    border: none;
    outline:none;
    
}

/* Product -Purchase */

.Purchase-Product{
    height: 100vh;
    display:grid;
    place-items: center;
}
.Product-Image{
    width:40%;
    height:45%;
    border-radius: 5px;
}
.Products{
    width:40%;
    align-items: center;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 1px solid #7f7c7c;
    border-radius:5px;
    backdrop-filter: blur(15px);
    box-sizing: border-box;
}
.Products >.Description{
    margin-left: 6%;
}
.category{
    color:#bda8b7;
    font-weight: bolder;
    font-size: large;
}
.Purchase-Product > h2{
    color:#FB94DC;
    font-size: 3rem;
    letter-spacing: 0.2px;
    font-weight: bolder;
}

/* Login */

.Login{
    width:100vw;
    height: 100vh;
    display:grid;
    justify-content: center;
}
.User_Login{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    border: 3px solid #7f7c7c;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 1.5rem;
    height: fit-content;
    transform: translate(0, 20%);
    box-sizing: border-box;
}
.User_Login > form{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.7rem;
    margin-top: 26px;
}
.User_Login > form input{
    width:100%;
    height:40px;
    text-indent:5px;
    border:none;
    outline:none;
    background-color:rgba(42, 18, 75, 0.5);
    padding:0.2rem;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}
.User_Login > h2{
    color:#FB94DC;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing:0.2px;
}

/* Sign-Up */

.SignUp{
    color:#9768d9;
}
.SignUp a{
    color:#d5c2ef;
    cursor:pointer;
    text-decoration:none;
}
.password-inline{
    display:flex;
    width:105%;
}
.password-inline > input{
    width:999px;
}
.password-inline > span{
    display:flex;
    position:relative;
    right:12%;
    top:10px;
    font-size: 1.8rem;
    color:white;
    cursor:pointer;
}
.User-password{
    width:100%;
    height:40px;
    text-indent:5px;
    border:none;
    outline:none;
    background-color:rgba(42, 18, 75, 0.5);
    padding:0.2rem;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}
.Submit{
    background-color: #9768d9;
    color:white;
    font-size:1.21rem;
    font-weight: 300;
    padding:7px;
    border-radius: 5px;
    border:none;
    outline:none;
    cursor:pointer;
}
.container {
    width: 80%;
    max-width:600px;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #7f7c7c;
    padding:2rem;
    box-sizing: border-box;
    border-radius:15px;
    backdrop-filter: blur(10px);
  }
  
  .heading {
    color: var(--pink);
    font-size: 29px;
    font-weight: bolder;
}
  .form-group {
    margin: 20px 0;
  }

  .User-Input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(42, 18, 75, 0.5);
    border:none;
    outline:none;
    color:white;
    text-indent: 5px;
    padding:5px;
    font-size: medium;
    height: 50px;
  }
  
.button{
    background-color: var(--orange);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.button:hover {
    background-color: var(--yellow);
  }

/* Gallery -Overview page */

.Gallery-OverView{
    width: 100vw;
    height: 100vh;
    
}
.Gallery-OverView-Content-Box{
    width:100%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Gallery-OverView{
    width: 100vw;
    height: 100vh;
    
}
.Gallery-OverView-Content-Box{
    width:100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    width:60%;
    display: flex;
    gap:10px;
    align-items: row-reverse;
    max-width:550px;
}
.search > span{
    padding: 8px;
    border-radius: 70%;
    background: orange;
    display: flex;
}
.search > input{
    width:100%;
    border:none;
    outline:none;
    border-radius:15px;
    text-indent:5px;
    background-color:  rgba(26, 26, 54, 0.5);
    color:white;
    font-size:medium;
}
.search > select{
    width: 60%;
    border:none;
    outline:none;
    border-radius:15px;
    text-indent:5px;
    background-color:  rgba(26, 26, 54, 0.5);
    color:white;
    font-size:medium;
    cursor: pointer;
}
.search > .select > option{
   padding:3px;
   background-color: rgb(45, 44, 44);
}
.search > .select > option:hover{
    background-color: aliceblue;
    cursor:pointer;
}
.Search-icon{
    font-size:20px;
    color:white;
    font-weight:bolder;
    align-self: center;
    cursor: pointer;
}
.example-options{
    align-self: flex-start;
    width:100%;
    display: flex;
    flex-direction: column;
    color:white;
    padding:3rem;
    box-sizing: border-box;
    background-color: rgba(26, 26, 54, 0.5);;
    margin-top: 40px;
}
.Artist-Heading,.Name-Heading{
    display: grid;
    row-gap: 10px;
}
.Artist-Heading > h2 ,.Name-Heading > h2{ 
    color:var(--pink);
    font-size: 2rem;
}
.Artist-Heading > p, .Name-Heading > p{
    color:#e3daef;
    font-size: 1.1rem;
}
ul{
    margin-top: 1.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    row-gap: 10px;
}
.Search-Conent{
    border: 1px solid #413e3e;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 1rem;
    gap: 10px;
    border-radius: 10px;
    min-width: 83%;
}
.search-elements{
    border: 1px solid #413e3e;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:6px;
    max-width: 500px;
}
.Search-Conent  img{
    width: 60%;
    height: auto;
    border-radius: 10px;
}
.search-name{
    color: var(--violet);
    font-size: medium;
    font-weight: 700;
}
.search-price{
    color:var(--purple);
    font-size:medium;
    font-weight: 700;
}
.search-description{
    color:#e3daef;
    font-size: medium;
}
.search-purchase-button{
    width:100px;
    background-color:var(--purple);
    color:white;
    border:none;
    outline:none;
    padding:7px;
    cursor:pointer;
    border-radius:5px;
    font-weight: 700;
}
.Not-Found{
    color:var(--pink);
    font-weight: 700;
}
/* Login Sign-up Error */
.password-error,.email-error{
    align-self: flex-start;
    color: red;
    margin-top: -2.5rem;
}

.sign-up_email-error{
    color: red;
    margin-top: -12px;
}

/* Mobile responsive */

@media screen and (max-width:667px){
    .Purchase-Product{
        width: 100vw;
    }
    .Purchase-Product > h2{
        text-align: center;
        font-size: xx-large;
    }
    .Products{
        width:100%;
        padding:5%;
    }
}

/* Pop-Up */
.full-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align from the top */
    padding-top: 20vh; /* Adjust the padding as per your preference */
  }
  
  .pop-up {
    position: relative;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #7f7c7c;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    gap: 1rem;
    animation: slideIn 0.5s forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .pop-up img{
    width:50px;
    position:absolute;
    transform:translatey(-42px);
   }
  .pop-up h2{
    color:#FB94DC;
  }
  .pop-up a {
    color:#9768d9;
    text-decoration:none;
    font-weight:700;
  }
  .pop-up p{
    color:#d5c2ef;
    font-weight: 600;
  }
  
  .message{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 10px;
    align-items: center;
  }

  /* Pop-Up */
.model {
  position: absolute;
  right: -220px;
  width: 220px;
  height: 35px;
  background-color: rgb(234, 47, 78);
  border-radius: 5px 0 0 5px;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 0.5px;
  animation: move 4s;
  z-index:2;
}

@keyframes move {
  0% {
    transform: translate(220px);
  }
  25% {
    transform: translate(-220px);
  }
  75% {
    transform: translate(-220px);
  }
  100% {
    transform: translate(220px);
  }
}

.model p {
  position:absolute;
  top:10px;
  text-indent:1rem;
  letter-spacing:1.2px;
  font-weight: 700;
}
.loading{
    color:white;
}