.Gallery-OverView{
    width: 100vw;
    height: 100vh;
    
}
.Gallery-OverView-Content-Box{
    width:100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    width:60%;
    display: flex;
    gap:10px;
    align-items: row-reverse;
    max-width:550px;
}
.search > span{
    padding: 8px;
    border-radius: 70%;
    background: orange;
    display: flex;
}
.search > input{
    width:100%;
    border:none;
    outline:none;
    border-radius:15px;
    text-indent:5px;
    background-color:  rgba(26, 26, 54, 0.5);
    color:white;
    font-size:medium;
}
.search > select{
    width: 60%;
    border:none;
    outline:none;
    border-radius:15px;
    text-indent:5px;
    background-color:  rgba(26, 26, 54, 0.5);
    color:white;
    font-size:medium;
    cursor: pointer;
}
.search > .select > option{
   padding:3px;
   background-color: rgb(45, 44, 44);
}
.search > .select > option:hover{
    background-color: aliceblue;
    cursor:pointer;
}
.Search-icon{
    font-size:20px;
    color:white;
    font-weight:bolder;
    align-self: center;
    cursor: pointer;
}
.example-options{
    align-self: flex-start;
    width:100%;
    display: flex;
    flex-direction: column;
    color:white;
    padding:3rem;
    box-sizing: border-box;
    background-color: rgba(26, 26, 54, 0.5);;
    margin-top: 40px;
}
.Artist-Heading,.Name-Heading{
    display: grid;
    row-gap: 10px;
}
.Artist-Heading > h2 ,.Name-Heading > h2{ 
    color:var(--pink);
    font-size: 2rem;
}
.Artist-Heading > p, .Name-Heading > p{
    color:#e3daef;
    font-size: 1.1rem;
}
ul{
    margin-top: 1.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    row-gap: 10px;
}
.Search-Conent{
    margin:1rem;
    border: 1px solid #413e3e;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 1rem;
    align-self: flex-start;
    gap:10px;
    border-radius: 10px;
    width: 100%;
}
.search-elements{
    border: 1px solid #413e3e;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:6px;
    max-width: 500px;
}
.Search-Conent  img{
    width: 60%;
    height: auto;
    border-radius: 10px;
}
.search-name{
    color: var(--violet);
    font-size: medium;
    font-weight: 700;
}
.search-price{
    color:var(--purple);
    font-size:medium;
    font-weight: 700;
}
.search-description{
    color:#e3daef;
    font-size: medium;
}
.search-purchase-button{
    width:100px;
    background-color:var(--purple);
    color:white;
    border:none;
    outline:none;
    padding:7px;
    cursor:pointer;
    border-radius:5px;
    font-weight: 700;
}
.Not-Found{
    color:var(--pink);
    font-weight: 700;
}